.ProfileSide {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 1rem;
  height: 85vh;
  overflow: hidden !important;
  overflow-y: scroll !important;
}
.ProfileSide::-webkit-scrollbar {
  display: block !important;
}
::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 177, 194);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 177, 194, 0.9);
}

@media only screen and (max-width: 600px) {
  .ProfileSide {
    height: 70vh;
  }
  ::-webkit-scrollbar {
    width: 0.8vw;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 177, 194, 0.8);
  }
}
